/* tous les éléments de la page */ 
body{
    background-color: #abb1ae;
}

.title_big{
    color:rgb(123, 99, 19);
    font-size: 3rem;
}

h1{
    color:rgb(218, 45, 14);
    font-size: 3rem;
}

table h2{
    color:rgb(173, 66, 27);
}

a{
    color:rgb(17, 124, 218);
}

/* pseudo-class */
a:hover{
    color: greenyellow;
}
/* :focus ==> pour ceux qui utilise le clavier au lieu de la souris */
a:focus{
    color:purple;
    font-weight:bold;
}

/* Pour ne pas casser le formulaire présciser entre [ ] le type pour le modifier spécifiquement */
input[type=text],
input[type=email]{ /* mettre une virgule pour combiner des sélecteurs d'attribuent et aller à la ligne pour une meilleur visibilitée. */
    width: 200px;
}

/* permet de sélectionner une ligne sur deux pour mieux lire le tableau grace à la pseudo-classes */
table tr:nth-child(2n){
    background:rgb(232, 231, 154);
    /*font-size: 1.5rem;*/
}

/* mise en place d'indicateur */
.header{
    border: 2px solid red;
    padding: 2rem;
}

.header img{
    width: 100%;
    height: 340px;
}

.main{
    border: thick double rgb(0, 255, 34);
    padding: 2rem;

}

.footer{
    border: 2px dashed blue;
    padding: 1rem 2rem;

}