/* tous les éléments de la page */ 
/**{
    background-color: #abb1ae;
}*/

.title_big{
    color:rgb(123, 99, 19);
    font-size: 3rem;
}

h1{
    color:rgb(218, 45, 14);
    font-size: 3rem;
}

table h2{
    color:rgb(173, 66, 27);
}

a{
    color:rgb(17, 124, 218);
}

/* pseudo-class */
a:hover{
    color: greenyellow;
}
/* :focus ==> pour ceux qui utilise le clavier au lieu de la souris */
a:focus{
    color:purple;
    font-weight:bold;
}

/* Pour ne pas casser le formulaire présciser entre [ ] le type pour le modifier spécifiquement */
input[type=text],
input[type=email]{ /* mettre une virgule pour combiner des sélecteurs d'attribuent et aller à la ligne pour une meilleur visibilitée. */
    width: 200px;
}

/* permet de sélectionner une ligne sur deux pour mieux lire le tableau grace à la pseudo-classes */
table tr:nth-of-type(2n){
    background:rgb(241, 239, 93);
    /*font-size: 1.5rem;*/
}
